<div class="container">
<%= simple_form_for @post do |f| %>
  <%= f.input :title, placeholder: 'maximum is 35 characters' %>
  <%= f.input :author %>
  <%= f.input :content %>
  <%= f.input :featured, as: :boolean, checked_value: true, unchecked_value: false %>
  <%= f.submit %>
<% end %>
</div>
